body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#log{
  width: 100%;
  height: 100%;
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  position: relative;
}
.login{
  width: 450px;
  height: 375px;
  padding: 0 50px;
  position: absolute;
  /* background: #ccc; */
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 120px;
}
.img{
  width: 95px;
  height: 95px;
  vertical-align: middle;
}
.login-span{
  display: inline-block;
  font-size: 50px;
  vertical-align: middle;
  color: white;
  margin-left: 30px;
}
.login-one{
  height:50px;
  line-height: 50px;
  margin-top: 45px;
  font-size: 20px;
  color: white;
  text-align: right;
}
.login-one input{
  width:220px;
  height:25px;
  line-height: 25px;
  margin-right: 30px;
  margin-left: 15px;
  font-size: 20px;
  vertical-align: middle;
  /* border: none; */
}
.login-two{
  margin-top: 45px;
  text-align: right;
}
.login-two div{
  display: inline-block;
  color:white;
  font-size: 18px;
  padding:10px 25px;
  background:#32d1ed;
  border: none;
  margin-right: 60px;
}