<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="port" value="1001"/>
    <add key="DeptId"  value="c2b67f687a6f4964abb4c65b24453b4f"/>
    <add key="InterfaceIp" value="http://visitor.objok.ml:8080"/>
    <add key="RequestAction" value="webservice"/>
    <add key="serverName" value="unifiedInterfacePublishingService"/>
    <add key="GetVisitLocationByCardNo" value="GetVisitLocationByCardNo"/>
    <add key="GetUnitVisitLocationByDeptId" value="GetUnitVisitLocationByDeptId"/>
    <!-- redis Start   -->
    <add key="SessionExpireMinutes" value="180"/>
    <add key="redis_server_session" value="192.168.13.134:6379"/>
    <add key="redis_max_read_pool" value="3"/>
    <add key="redis_max_write_pool" value="1"/>
    <!--redis end-->

  </appSettings>
</configuration>
