<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--雪花下落速度-->
    <add key="Speed" value="3"/>
    <!--雪花密度-->
    <add key="SleepTime" value="1000"/>
    <!--雪花最大尺寸-->
    <add key="snowSize" value="50"/>
    <!--雪花容器-->
    <add key="SnowflakeLen" value="35"/>
    <add key="ReSnowflakeLen" value="35"/>
    
    <!--播放蒙版类型-->
    <add key="mengban" value="3"/>
  </appSettings>
</configuration>