
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        function t() {
            var lb = $("#tt");
            alert(lb.text());
            $("#tt").html("Hellow Word!")

            var bb = document.getElementById("tt").innerHTML
            alert(bb)
        }
    </script>
</head>
<body onload="t()">
    <div> 
        <label id="tt">aaaa</label>
    </div>
</body>
</html>
